
.cont-1{
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}
.cont-1 h1{
    background-color: rgb(206, 180, 230);
    display: flex;
    text-align: center;
    height: 400px;
    font-size: 80px;
    width: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    border-radius: 50px;
    border: 5px dotted black;
}